.row{
  font-size: medium;
  border-bottom: 1px solid slategray;
}
.row-header {
  line-height: 50px;
  font-weight: bold;
}
.row-content{
  line-height: 40px;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.expand-icon{
  font-size: larger;
}
.cell-name{
  padding-left: 30px;;
}
.expand-icon{
  font-size: larger;
}
.cell-name{
  padding-left: 36px;;
}
.submitted{
  .ng-invalid{
    border: 1px solid red;
  }
}