<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="encoderPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n" />
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>
    <appender name="odoo-base" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/odoo_base.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.base}/logs/odoo_base.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="odoo-base"/>
    </root>
    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>
