<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand main-menu">Admin System</a>
                &nbsp;&nbsp;
                <ul class="nav navbar-nav text-center">
                    <li *ngFor="let router of routers" [ngClass]="{active:router.active}"><a routerLink="{{router.href}}">{{router.name}}</a></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right main-menu text-center">
                <li><a>Welcome! {{hello}}</a></li>
            </ul>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>