<div  class="container" >
    <div class="text-right">
        <button type="button" class="btn btn-default" (click)="newUser()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
        </button>
    </div>
    <table class="table table-hover">
        <thead class="table-header">
        <tr>
            <td class="text-center"><strong>Name</strong></td>
            <td class="text-center"><strong>Odoo Account</strong></td>
            <td class="text-center"><strong>Odoo password</strong></td>
            <td class="text-center"><strong>Odoo default task</strong></td>
            <td class="text-center"><strong>Is Custom Active</strong></td>
            <td class="text-center"></td>
        </tr>
        </thead>
        <tbody class="">
        <tr *ngFor="let user of users" [ngClass]="{active: user.customs.active}">
            <td class="text-center">{{user.name}}</td>
            <td class="text-center">{{user.account}}</td>
            <td class="text-center">{{user.password}}</td>
            <td class="text-center">{{user.defaultTask}}</td>
            <td class="text-center">{{user.customs.active}}</td>
            <td class="text-center"><a role="button" (click)="edit(user)">Edit</a></td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="newAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add User</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="username" placeholder="Name" [(ngModel)]="editUser.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="account" class="col-sm-2 control-label">Account</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="account" placeholder="Account" [(ngModel)]="editUser.account">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="editUser.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">DefaultTask</label>
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="DefaultTask" [(ngModel)]="editUser.defaultTask">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Customs</label>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="editUser.customs.active"> isActive
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-2" [hidden]="!editUser.customs.active">
                                <a type="button" class="form-control btn btn-default" (click)="addCustom(editUser)"><span class="glyphicon glyphicon-plus"></span></a>
                            </div>
                        </div>
                        <hr [hidden]="!editUser.customs.active">
                        <div class="form-group" *ngFor="let project of editUser.customs.projects" [hidden]="!editUser.customs.active">
                            <div class="col-sm-6">
                                <select class="form-control" [(ngModel)]="project.project" placeholder="Epic link">
                                    <option *ngFor="let link of epicLinks" value="{{link.odooProject}}">{{link.odooProject}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" placeholder="Task" [(ngModel)]="project.task">
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" placeholder="Hours" [(ngModel)]="project.hours">
                            </div>
                            <div class="col-sm-1">
                                <a role="button" (click)="del(project)"><span class="glyphicon glyphicon-minus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="doSave()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

