<style type="text/css">
    .weekend{
        background-color: #f1f1f1;
    }
    .today{
        background-color: #FCE1E5;
    }
    tbody td:hover{
        background-color: #dddddd;
    }
</style>
<div  class="container" >
    <div class="text-center">
        <div class="form-inline">
            <a role="button" (click)="prev()">Prev Month</a>
            <div class="form-group">
                <input [(ngModel)]="year+symbol+month" class="form-control" style="width: 75px;" readonly>
            </div>
            <a role="button" (click)="next()">Next Month</a>
        </div>
    </div>
    <br>
    <table class="table table-bordered">
        <thead class="table-header">
        <tr>
            <td class="text-center"><strong>Mon</strong></td>
            <td class="text-center"><strong>Tue</strong></td>
            <td class="text-center"><strong>Wed</strong></td>
            <td class="text-center"><strong>Thur</strong></td>
            <td class="text-center"><strong>Fri</strong></td>
            <td class="text-center"><strong>Sat</strong></td>
            <td class="text-center"><strong>Sun</strong></td>
        </tr>
        </thead>
        <tbody class="">
        <tr *ngFor="let week of weeks">
            <td class="text-center" [ngClass]="{'weekend': date.type>=3, 'today':date.currentDate}" *ngFor="let date of week" (click)="getTasks(date.stringDate)">{{date.day==0?'':date.day}}<div>{{date.type>2?'休':date.type==0?'':'班'}}</div></td>
        </tr>
        </tbody>
    </table>
    <div>
        <strong>{{currentDate}}</strong>
        <div class="pull-right"><button class="btn btn-default" (click)="save()">Save</button></div>
    </div>
    <table class="table table-hover">
        <thead class="table-header">
        <tr>
            <td class="text-center col-sm-1"><strong>User</strong></td>
            <td class="text-center col-sm-1"><strong>Active</strong></td>
            <td class="text-center col-sm-9"><strong>Custom Tasks</strong></td>
            <td class="text-center col-sm-1"></td>
        </tr>
        </thead>
        <tbody class="">
        <tr *ngFor="let user of users">
            <td class="text-center">{{user.name}}</td>
            <td class="text-center"><input type="checkbox" [(ngModel)]="user.customs.active"></td>
            <td class="text-center"><span [hidden]="!user.customs.active">{{formatTasks(user.customs.projects)}}</span></td>
            <td class="text-center"><a role="button" [hidden]="!user.customs.active" (click)="addTask(user)">edit</a></td>
        </tr>
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="newAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Tasks &nbsp;|&nbsp;<a role="button" class="" (click)="add()"><span class="glyphicon glyphicon-plus"></span></a></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group" *ngFor="let project of editUser.customs.projects">
                            <div class="col-sm-7">
                                <select class="form-control" [(ngModel)]="project.project" placeholder="Epic link">
                                    <option *ngFor="let link of epicLinks" value="{{link.odooProject}}">{{link.odooProject}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <select class="form-control" [(ngModel)]="project.task" placeholder="Task">
                                    <option *ngFor="let task of tasks" value="{{task}}">{{task}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" placeholder="Hours" [(ngModel)]="project.hours">
                            </div>
                            <div class="col-sm-1">
                                <a role="button" (click)="del(project)"><span class="glyphicon glyphicon-minus"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

