<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
	<property name="encoderPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{100} - %msg%n" />
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${encoderPattern}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>
